PORT=3000
HOST=127.0.0.1
ENVIRONMENT=local

# Configuración de Base de Datos Agnóstica (SQLx AnyPool)
# SQLite:
DATABASE_URL=sqlite://database.sqlite

# PostgreSQL (ejemplo comentado):
# DATABASE_URL=postgres://usuario:password@localhost:5432/larust_db
